---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white dark:bg-slate-800 text-slate-900 dark:text-white py-8">
  <div class="container mx-auto px-4 sm:px-6">
    
    <div class="text-center text-slate-600 dark:text-slate-300 text-sm">
      <p>&copy; {currentYear} Lorem Code. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>